input {
    filter: none;
}

input:focus {
    outline: none;
}

body {
    font-family: var(--unnic-font-family-primary);
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1 {
    font-size: var(--unnic-font-size-h1);
    text-align: center;
}

.login-pf-page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1;
}

.form-control {
    background: var(--unnic-color-neutral-snow);
    border: var(--unnic-border-width-thinner) solid var(--unnic-color-neutral-soft);
    border-radius: var(--unnic-border-radius-sm);
    padding: var(--unnic-squish-xs);
    color: inherit;
    font-weight: var(--unnic-font-weight-regular);
    font-size: var(--unnic-font-size-body-gt);
    width: 100%;
    box-sizing: border-box;
}

.social-button {
    outline: none;
}

.form-control:focus {
    color: var(--unnic-color-brand-weni);
    border-color: var(--unnic-color-brand-weni);
    outline: none;
}

.input-control:focus-within .icon{
    color: var(--unnic-color-brand-weni);
}

.input-control {
    position: relative;
}

.button-control {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.icon-button-left {
    margin-right: var(--unnic-inline-nano);
}

.has-icon-left {
    padding-left: var(--unnic-inline-giant);
}

.has-icon-right {
    padding-right: var(--unnic-inline-giant);
}

.icon {
    font-size: var(--unnic-icon-size-md);
}

.icon-image {
    height: var(--unnic-icon-size-md);
    width: var(--unnic-icon-size-md);
}

.icon-clickable {
    cursor: pointer;
}

.icon-left, .icon-right {
    top: 25%;
    z-index: 1;
}

.icon-left {
    position: absolute;
    left: var(--unnic-inline-sm);
}

.icon-right {
    position: absolute;
    right: var(--unnic-inline-sm);
}

.icon-input {
    color: var(--unnic-color-neutral-clean);
}

::placeholder {
    color: var(--unnic-color-brand-sec);
    opacity: 1; /* Firefox */
}
  
:-ms-input-placeholder, ::-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--unnic-color-brand-sec);
}

label {
    font-size: var(--unnic-font-size-body-md);
    font-family: var(--unnic-font-family-secondary);
    margin: 0 0 var(--unnic-spacing-stack-xs) 0;
    color: var(--unnic-color-neutral-darkest);
    display: block;
}

.m-0 {
    margin: 0;
}

#back-link {
    text-decoration: underline;
    color: var(--unicc-color-neutral-dark);
    font-size: var(--unnic-font-size-body-md);
}

.form-group {
    color: var(--unnic-color-neutral-dark);
    width: 100%;
}

button, .btn, .bt-lg {
    background: var(--unnic-color-neutral-light);
    border-radius: var(--unnic-border-radius-sm);
    font-size: var(--unnic-font-size-body-lg);
    padding: var(--unnic-squish-xs);
    border: none;
    cursor: pointer;
    width: 100%;
    color: var(--unnic-color-neutral-cloudy);
    outline: none;
}

.form-group + .form-group {
    margin: var(--unnic-spacing-stack-md) 0 0 0;
}

.form-group-nested {
    display: flex;
}

.form-group-nested > :not(:last-child) {
    margin: 0 var(--unnic-inline-sm) 0 0;
}

.form-group-nested > :last-child {
    margin: 0;
}

.form-group-wrapper {
    margin: var(--unnic-spacing-stack-md) 0;
}

.login-message {
    font-size: var(--unnic-font-size-body-md);
    margin: var(--unnic-spacing-stack-nano) 0;
}

.login-password-recover {
    text-align: right;
}

.card-pf {
    margin: 16px 12.88%;
    align-items: center;
    align-content: center;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 1rem;
    flex-grow: 1;
}

.login-pf-header {
    grid-column: 1 / 7;
}

#kc-content {
    grid-column: 8 / 13;
}

#kc-content-headerless {
    grid-column: 1 / 6;
}

#kc-registration, .back-link {
    text-align: center;
    color: var(--unnic-color-neutral-cloudy);
}

#kc-info-wrapper {
    margin: var(--unnic-spacing-stack-md) 0 0 0;
    font-family: var(--unnic-font-family-secondary);
    font-size: var(--unnic-font-size-body-gt);
}

#kc-info-wrapper a, #kc-registration a, #kc-form-options a {
    color: var(--unnic-color-brand-weni);
    text-decoration: none;
    font-weight: var(--unnic-font-weight-bold);
}

#kc-form-buttons {
    margin-top: var(--unnic-spacing-stack-nano);
}

.login-button {
    width: 100%;
}

.buttons-group {
    display: grid;
    grid-gap: 8px 16px;
    grid-template-columns: repeat(auto-fit, minmax(198px, 1fr));
}

.social-button {
    font-size: var(--unnic-font-size-body-lg);
    font-weight: var(--unnic-font-weight-regular);
    min-width: 1.5rem;
}

.social-link {
    text-decoration: none;
    flex: 1;
}

#button-github {
    background-color: var(--unnic-color-neutral-black);
    color: var(--unnic-color-neutral-snow);
}

#button-google {
    border: 1px solid var(--unnic-color-neutral-soft);
    background-color: var(--unnic-color-neutral-snow);
    color: var(--unnic-color-neutral-darkest);
}

#button-github:hover, #button-google:hover {
    opacity: var(--unnic-opacity-level-clear);
}

/* button primary unnnic-system */

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--unnic-border-radius-sm);
    border: 0;
    outline: none;
    overflow: hidden;
    white-space: nowrap;
    font-weight: var(--unnic-font-weight-regular);
    font-family: var(--unnic-font-family-secondary);
    min-width: 56px;
    cursor: pointer;
}

.btn-primary {
    background-color: var(--unnic-color-neutral-darkest);
    color: var(--unnic-color-background-snow);
}

.btn-primary:hover:enabled {
    opacity: var(--unnic-opacity-level-darkest);
    border: 0;
}

.btn-primary:disabled {
    background-color: var(--unnic-color-neutral-light);
    color: var(--unnic-color-neutral-clean);
    cursor: not-allowed;
}


#separator-group {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: var(--unnic-font-weight-bold);
    margin: var(--unnic-inline-sm) 0;
}

.separator {
    flex-grow: 1;
    width: 0;
    border: var(--unnic-border-width-thinner) solid var(--unnic-color-neutral-soft);
}

.separator-text {
    font-size: var(--unnic-font-size-body-lg);
    font-family: var(--unnic-font-family-secondary);
    color: var(--unnic-color-neutral-dark);
    margin: 0 var(--unnic-inline-sm);
}

footer {
    background-color: var(--unnic-color-brand-weni);
    height: var(--unnic-spacing-stack-xs);
    width: 100%;
}

.title-md {
    font-family: var(--unnic-font-family-primary);
    font-size: var(--unnic-font-size-title-lg);
    margin: 0 0 var(--unnic-spacing-stack-sm) 0;
    color: var(--unnic-color-neutral-darkest);
}

.title-sm {
    font-family: var(--unnic-font-family-secondary);
    font-size: var(--unnic-font-size-body-lg);
    color: var(--unnic-color-neutral-cloudy);
    margin: 0 0 var(--unnic-spacing-stack-xgiant) 0;
}

.text-md {
    font-family: var(--unnic-font-family-secondary);
    font-size: var(--unnic-font-size-body-md);
    margin: 0 0 var(--unnic-spacing-stack-xs) 0;
    color: var(--unnic-color-neutral-dark);
}

.keyword {
    color: var(--unnic-color-brand-weni);
    font-weight: var(--unnic-font-weight-bold);
}

.brand-container {
    display: flex;
    align-items: center;
}

.brand {
    margin-right: var(--unnic-inline-sm);
    flex: 1;
}

.brand:last-child {
    margin-right: 0;
}

.brand img {
    width: 100%;
}

.brand-title {
    margin: 0 0 var(--unnic-spacing-stack-xgiant) 0;
}

.alert {
    text-align: left;
    margin: var(--unnic-spacing-stack-xl) 0 0 0;
    width: 100%;
    padding: var(--unnic-inset-sm);
    font-family: var(--unnic-font-family-secondary);
    font-size: var(--unnic-font-size-body-gt);
    background-color: var(--unnic-color-background-carpet);
    box-sizing: border-box;
}

.checbkoxGroup {
    margin: var(--unnic-spacing-stack-nano) 0;
}

.back-link {
    margin: var(--unnic-spacing-stack-md) 0;
}

.form-header {
    margin: 0 0 var(--unnic-spacing-stack-md) 0;
    color: var(--unnic-color-neutral-cloudy);
    font-size: var(--unnic-font-size-body-gt);
    font-weight: var(--unnic-font-weight-regular);
    font-family: var(--unnic-font-family-secondary);
}

.has-error input {
    border: 1px solid var(--unnic-color-feedback-red);
    color: var(--unnic-color-feedback-red);
    box-shadow: none;
}

.has-error .icon {
    color: var(--unnic-color-feedback-red);
}

.home-back-link, .home-back-link * {
    color: var(--unnic-color-neutral-dark)
}

#kc-form-options {
    display: flex;
    justify-content: space-between;
}

.input-message {
    font-family: var(--unnic-font-family-secondary);
    font-size: var(--unnic-font-size-body-md);
    color: var(--unnic-color-neutral-darkest);
    line-height: 20px;
}

.remember-me {
    display: flex;
    align-items: center;
    padding: 4px;
}

.remember-me label {
    margin: 0;
}

.forgot-password {
    margin-top: var(--unnic-spacing-stack-nano);
    font-size: var(--unnic-font-size-body-md);
}

.alert-error {
    color: var(--unnic-color-feedback-red);
}

.terms-use {
    line-height: 20px;
    font-size: var(--unnic-font-size-body-md);
    color: var(--unnic-color-neutral-cloudy);
    text-align: center;
}

.terms-use a {
    color: var(--unnic-color-neutral-cloudy);
    font-weight: var(--unnic-font-weight-bold);
}
