#modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.4);;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-container {
    background-color: var(--unnnic-color-bg-soft);
    border-radius: var(--unnnic-radius-1);
    overflow: hidden;
}

.modal-content {
    padding: var(--unnnic-space-4) var(--unnnic-space-6);
}

.modal-button-container {
    display: flex;
    justify-content: flex-end;
    font-size: var(--unnnic-icon-size-4);
    color: var(--unnnic-color-fg-base);
}

.modal-center-icon {
    display: flex;
    justify-content: center;
    font-size: var(--unnnic-icon-size-10);
    margin-bottom: var(--unnnic-space-4);
}

.modal-text {
    font: var(--unnnic-font-display-4);
    color: var(--unnnic-color-fg-muted);
    text-align: center;
    margin-bottom: 48px;
}

.modal-title {
    font: var(--unnnic-font-display-2);
    color: var(--unnnic-color-fg-emphasized);
    text-align: center;
    margin-bottom: var(--unnnic-space-6);
}

.modal-message {
    font: var(--unnnic-font-caption-2);
    padding: var(--unnnic-space-6);
    text-align: center;
    color: var(--unnnic-color-fg-base);
    background-color: var(--unnnic-color-bg-muted);
}

.modal-message a {
    color: var(--unnnic-color-fg-base);  
    font-weight: var(--unnnic-font-weight-bold);
}

.icon-success {
    color: var(--unnnic-color-fg-success);
}

.icon-alert {
    color: var(--unnnic-color-fg-warning);  
}