#kc-totp-settings{
  padding-left: 14px;
}

#kc-totp-settings-form, #kc-totp-settings, .kc-otp-header, #kc-totp-settings-form > .form-group label {
  color: var(--unnnic-color-gray-400);
  font: var(--unnnic-font-body);
}

.kc-otp-header .totp-title {
  display: flex;
  align-items: center;
  margin-bottom: var(--unnnic-space-6 );
}
.kc-otp-header .totp-title h1 {
  font: var(--unnnic-font-display-2);
  font-weight: var(--unnnic-font-weight-regular);
  color: var(--unnnic-color-fg-emphasized);
  margin:0 0 0 var(--unnnic-space-4);

}

.kc-otp-header .totp-title .icon {
  padding: var(--unnnic-space-1);
  background-color: rgba(var(--unnnic-color-aux-blue-rgb), 0.08);
  border-radius: var(--unnnic-radius-1);
  font-size: var(--unnnic-icon-size-4);
  color: var(--unnnic-color-teal-400);
}


/* info */
.kc-otp-header .totp-info {
  padding: var(--unnnic-space-3);
  background-color: var(--unnnic-color-bg-soft);
  color: var(--unnnic-color-gray-700);
  display: flex;
  align-items: center;
  border-radius: var(--unnnic-radius-1);
}

.kc-otp-header .totp-info .totp-info__text {
  font: var(--unnnic-font-body);
  margin-left: var(--unnnic-space-2);
}

.kc-otp-header .totp-info .icon {
  color: var(--unnnic-color-fg-warning);
  font-size: var(--unnnic-icon-size-4);
}

.totp-start-instructions {
  margin-top: var(--unnnic-space-8);
}

#kc-totp-settings-form > div {
  margin-bottom: var(--unnnic-space-4);
}