.brand-password {
    margin-bottom: var(--unnic-spacing-stack-giant);
}

.update-password-title {
    font-size: var(--unnic-font-size-title-md);
    font-family: var(--unnic-font-family-secondary);
    margin-bottom: var(--unnic-spacing-stack-lg);
    line-height: 32px;
}

.password-back-link {
    margin-top: var(--unnic-spacing-stack-awesome);
}

#kc-reset-password-form #kc-form-buttons{
    margin-top: var(--unnic-spacing-stack-sm);
}