.brand-password {
    margin-bottom: var(--unnnic-space-12);
}

.update-password-title {
    font: var(--unnnic-font-display-1);
    font-weight: var(--unnnic-font-weight-regular);
    margin-bottom: var(--unnnic-space-8);
}

.password-back-link {
    margin-top: var(--unnnic-space-20);
}

#kc-reset-password-form #kc-form-buttons{
    margin-top: var(--unnnic-space-4);
}