.update-password-buttons {
    display: flex;
    gap: var(--unnnic-space-4);
}

#kc-passwd-update-form #kc-form-buttons {
    margin-top: var(--unnnic-space-4);
}

#kc-passwd-update-form #separator-group {
    margin: var(--unnnic-space-6) 0;
}

#kc-reset-password-form #kc-form-buttons {
    margin-top: var(--unnnic-space-4);
}
